# build output
dist/
playwright-report/
test-results/
coverage/

# generated types and caches
.astro/
.cache/

# dependencies
node_modules/

# logs
bun.lockb
*.log
bun-debug.log*
bun-error.log*

# environment variables
.env
.env.*
!.env.example

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/
