<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>beta-reports-active</key>
    <true/>
    <key>application-identifier</key>
    <string>PCJU8QD9FN.com.agentic-codeflow.opencode-nexus</string>
    <key>keychain-access-groups</key>
    <array>
        <string>PCJU8QD9FN.*</string>
    </array>
</dict>
</plist>
