# iOS Build Configuration for OpenCode Nexus
# Fixes cross-compilation linker issues

[build]
target = "aarch64-apple-ios"

[target.aarch64-apple-ios]
rustflags = [
    "-C", "link-arg=-L$(SDKROOT)/usr/lib",
    "-C", "link-arg=-L$(SDKROOT)/usr/lib/swift",
    "-C", "link-arg=-framework", "-C", "link-arg=Foundation",
    "-C", "link-arg=-framework", "-C", "link-arg=UIKit",
    "-C", "link-arg=-framework", "-C", "link-arg=CoreGraphics",
    "-C", "link-arg=-framework", "-C", "link-arg=Metal",
    "-C", "link-arg=-framework", "-C", "link-arg=QuartzCore",
    "-C", "link-arg=-framework", "-C", "link-arg=Security",
    "-C", "link-arg=-framework", "-C", "link-arg=WebKit"
]

[target.aarch64-apple-ios-sim]
rustflags = [
    "-C", "link-arg=-L$(SDKROOT)/usr/lib",
    "-C", "link-arg=-L$(SDKROOT)/usr/lib/swift",
    "-C", "link-arg=-framework", "-C", "link-arg=Foundation",
    "-C", "link-arg=-framework", "-C", "link-arg=UIKit",
    "-C", "link-arg=-framework", "-C", "link-arg=CoreGraphics",
    "-C", "link-arg=-framework", "-C", "link-arg=Metal",
    "-C", "link-arg=-framework", "-C", "link-arg=QuartzCore",
    "-C", "link-arg=-framework", "-C", "link-arg=Security",
    "-C", "link-arg=-framework", "-C", "link-arg=WebKit"
]

[target.x86_64-apple-ios]
rustflags = [
    "-C", "link-arg=-L$(SDKROOT)/usr/lib",
    "-C", "link-arg=-L$(SDKROOT)/usr/lib/swift",
    "-C", "link-arg=-framework", "-C", "link-arg=Foundation",
    "-C", "link-arg=-framework", "-C", "link-arg=UIKit",
    "-C", "link-arg=-framework", "-C", "link-arg=CoreGraphics",
    "-C", "link-arg=-framework", "-C", "link-arg=Metal",
    "-C", "link-arg=-framework", "-C", "link-arg=QuartzCore",
    "-C", "link-arg=-framework", "-C", "link-arg=Security",
    "-C", "link-arg=-framework", "-C", "link-arg=WebKit"
]

[env]
IPHONEOS_DEPLOYMENT_TARGET = "14.0"
CARGO_CFG_TARGET_OS = "ios"
CARGO_CFG_TARGET_VENDOR = "apple"
